@font-face {
    font-family: 'Lato', sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Lato:400,700);
}

@media screen {
    body {
        font-size: 100%;
        background: lightgoldenrodyellow;
        margin-top: 100px;
        margin-bottom: 450px;
        font-family: 'Lato';
        font-weight: 400;
    }
}

@media screen and (max-width: 480px) {
    .fourColumns {
        margin-top: 30px;
        padding: 10px;
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;

        -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
        -moz-column-gap: 20px; /* Firefox */
        column-gap: 20px;

        -webkit-column-rule: 2px outset #42f492; /* Chrome, Safari, Opera */
        -moz-column-rule: 2px outset #42f492; /* Firefox */
        column-rule: 2px outset #42f492;
    }
}

@media screen and (min-width: 480px) {
    .fourColumns {
        margin-top: 30px;
        padding: 10px;
        -webkit-column-count: 4; /* Chrome, Safari, Opera */
        -moz-column-count: 4; /* Firefox */
        column-count: 4;

        -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
        -moz-column-gap: 20px; /* Firefox */
        column-gap: 20px;

        -webkit-column-rule: 2px outset #42f492; /* Chrome, Safari, Opera */
        -moz-column-rule: 2px outset #42f492; /* Firefox */
        column-rule: 2px outset #42f492;
    }
}

@media print {
    body {
        background-color: white;
    }
    p {
        font-size: 50pt;
        font-family: "Times New Roman", times, serif;
    }
}

h1, h3 {
    text-align: center;
    text-shadow: 2px 2px #b3b3cc;
}

img.single {
    padding: 40px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

span {
    background-color: yellow;
}

div > span {
    background-color: orange;
}

th, td {
    padding: 10px;
    text-align: center;
}

a:active {
    background-color: darkgreen;
}

input:checked {
    height: 35px;
    width: 35px;
}

input[type=text]:enabled {
    background: #ffffff;
}

input[type=text]:disabled {
    background: black;
}

p:empty {
    width: 100%;
    height: 5px;
    background-color: black;
}

p:first-child {
    background-color: lightcoral;
}

p:last-child {
    background-color: red;
}

input:last-of-type {
    background-color: lightgrey;
}

a:link {
    background-color: rosybrown;
}

p:only-child {
    background-color: aqua;
}

:target {
    border: 2px solid #4CAF50;
    background-color: blanchedalmond;
}

a:visited {
    color: purple;
}

.my_footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #514d4e;
    padding: 10px;
    color: white;
    text-align: center;
}

.my_footer a {
    color: white;
    background-color: #51adae; 
    padding: 3px;
}

.allergy {
    background-color: #ffb163;
    padding: 10px;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: dashed 1px black;
}

.error {
    background-color: #ff7c7c;
    font-weight: bold;
    display:inline-block;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: dotted 1px white;
}

.correct {
    background-color: #68cc5f;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: dotted 1px black;
}

.recipeRow {
    float: left;
    margin-bottom: 30px;
}


.recipeSection {
    float: left;
    width: 500px;
    margin-left: 40px;
    font-size: 1.1em;
}

.clear {
    clear: both;
}

.centered {
    margin: 0 auto;
    display: block;
    text-align: center;
}

.padded {
    padding: 20px;
}

.linkBlock {
    color: white;
    font-weight: 700;
    padding: 10px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: purple;
    border: 2px dotted yellow;
    float: left;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 120px;
    background: lightgoldenrodyellow url(../images/header-background.jpg) repeat-x;
    background-size: 450px 120px;
    color: white;
    width: 100%;
    font-variant: small-caps;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    background: #ff8533; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(circle, #ff8533 10%, white); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(circle, #ff8533 10%, white); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, #ff8533 10%, white); /* For Firefox 3.6 to 15 */
    background: radial-gradient(circle, #ff8533 10%, white); /* Standard syntax */
}

.relativeImg {
    position: relative;
    top: 100px;
    width: 300px;
    height: 350px;
}

.customBorder {
    border: medium dotted magenta;
    padding: 10px;
}

.recipeTitle {
  background: transparent; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,rgba(244,223,66,0.5),rgba(113,244,65,0.9)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(244,223,66,0.5),rgba(113,244,65,0.9)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(244,223,66,0.5),rgba(113,244,65,0.9)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(244,223,66,0.5), rgba(113,244,65,0.9)); /*Standard*/
  border-radius: 10px;
  padding-left: 10px;
}

@keyframes colorsBorder{
    0%   {border-color:red;}
    25%  {border-color:yellow;}
    50%  {border-color:#a0db8e;}
    75%  {border-color:green;}
    100% {border-color:red;}
}

.borderColorAnimation {
    border-width: 6px;
    border-style: solid;
    border-color: red;
    animation-duration: 20s;
    animation-name: colorsBorder;
}

@keyframes colorsBorder2 {
    0%   {border-color:yellow;}
    25%  {border-color:#a0db8e;}
    50%  {border-color:green;}
    75%  {border-color:red;}
    100% {border-color:yellow;}
}

.borderColorAnimation2 {
    border-width: 6px;
    border-style: solid;
    border-color: yellow;
    animation-duration: 20s;
    animation-name: colorsBorder2;
}

.grow {
    transition: all .2s ease-in-out 0.2s; 
}
.grow:hover { 
    transform: scale(1.1); 
}

.simpleImageBorder {
    -webkit-border-image: url(../images/border.png) 1 ; /* Safari 3.1-5 */
    -o-border-image: url(../images/border.png) 1 ;/* Opera 11-12.1 */
    -moz-border-image: url(../images/border.png) 1 ; /* mozilla */
    border-image: url(../images/border.png) 1 ;
    border-width: 10px;
    border-style: solid;
}

.transitionParent {
    display: block;
    position: relative;
    margin-left: 50%;
}

.transition {
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.rotate {
    -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

.rotate:hover {
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);
}

.flex-container {
    padding: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row-reverse wrap;
    flex-flow: row-reverse wrap;
    justify-content: space-around;
    align-items: center;
}

.flex-child {
    background: transparent; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left,rgba(244,223,66,0.5),rgba(113,244,65,0.9)); /*Safari 5.1-6*/
    background: -o-linear-gradient(right,rgba(244,223,66,0.5),rgba(113,244,65,0.9)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right,rgba(244,223,66,0.5),rgba(113,244,65,0.9)); /*Fx 3.6-15*/
    background: linear-gradient(to right, rgba(244,223,66,0.5), rgba(113,244,65,0.9)); /*Standard*/
    background-size: cover;
    flex: 1;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.flex-child:hover {
    flex: 1.5;
}

.invalid {
    background-color: #ff7272;
}

#allergy-cure-promo {
    color: white;
    font-weight: 600;
    background-color: #4286f4;
    margin-top: 5px;
    margin-bottom: 5px;
    border: dotted 2px white;
    padding: 10px;
}

#weight-message {
    background-color: #f7f151;
    margin-top: 5px;
    margin-bottom: 5px;
    border: dashed 2px black;
    padding: 10px;
}

#ip-message {
    background-color: #f1fa21;
    margin-top: 5px;
    margin-bottom: 5px;
    border: dashed 2px black;
    padding: 10px;
}

#fixedRightCorner {
    color: grey;
    position: fixed;
    top: 0%;
    right: 0%;
}

#borderImage {
    -webkit-border-image: url(../images/border.png) 20% round; /* Safari 3.1-5 */
    -o-border-image: url(../images/border.png) 20% round;/* Opera 11-12.1 */
    -moz-border-image: url(../images/border.png) 20% round; /* mozilla */
    border-image: url(../images/border.png) 20% round;
    border-width: 10px;
    border-style: solid;
}

#borderImageRepeatFadeOut:hover { opacity: 0;}

#borderImageStretch {
    -webkit-border-image: url(../images/border.png) 10% stretch; /* Safari 3.1-5 */
    -o-border-image: url(../images/border.png) 10% stretch;/* Opera 11-12.1 */
    -moz-border-image: url(../images/border.png) 10% stretch; /* mozilla */
    border-image: url(../images/border.png) 10% stretch;
    border-width: 10px;
    border-style: solid;
}

#galleryHeader {
    background-image: url(../images/bg_header_gallery.png);
    background-position: right top;
    background-attachment: fixed;
    background-origin: initial;
    padding-top: 50px;
    padding-bottom: 50px;
}

#recipeDescription {
    float: left;
    width: 500px;
}

#attentionText {
    font-weight: 900;
    font-style: italic;
    font-size: x-large;
}

#ingredientsTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#ingredientsTable tr:hover {
    background-color: #ddd
}

#ingredientsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#ingredientsTable tr:nth-last-child(1) {
    background-color: red;
}

#mainNavigation ul {
    background: lightcoral;
    float: left;
}

#mainNavigation li {
    float: left;
    position: relative;
    width: 150px;
    list-style: none;
}

#mainNavigation a {
    display: block;
    text-decoration: none;
    padding: 5px 20px;
    color: white;
}

#mainNavigation ul ul {
    position: absolute;
    left: 0;
    top: 100%;
    visibility: hidden;
    opacity: 0;
}

#mainNavigation ul ul ul {
    left: 100%;
    top: 0;
}

#mainNavigation li:hover > ul {
    visibility: visible;
    opacity: 1;
}

#mainNavigation ul > li > ul {
    box-shadow: 10px 10px 5px #888888;
}

#backgroundRecipeSubmit {
    padding-top: 20px;
    padding-bottom: 20px;
    background: url("../images/pancakes.jpeg") fixed top;
}

#pancakes-guide {
    border: 2px solid;
    border-radius: 2px 2px 20px 2px;
}

#pancakes-guide-step1 {
    background-color: rgb(66, 244, 128);
}

#pancakes-guide-step2 {
    background-color: hsla(203, 75%, 50%, 0.67);
}
